# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main
__debug_bin
# Test binary, scripts with `go test -c`
# *.test

# Output of the go coverage tool
*.out

.idea/*
.DS_Store
.bin
.vscode/

!.vscode/launch.json